/***** Global Elements *****/

body {
	font-family: Arial, sans-serif;
	font-size:13px;
}

#content {
	padding: 0 24px 0 24px;
}

#navbar-container ul {
	padding: 0 0 10px 0;
}

#mainview h1 {
	-webkit-padding-end: 24px;
	-webkit-user-select: none;
	border-bottom: 1px solid #EEE;
	color: #53637D;
	font-size: 200%;
	font-weight: normal;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 13px;
	text-shadow: white 0 1px 2px;
}

#content dt {
	float:left;
	font-weight:bold;
	color:#888;
}

#content dd {
	padding-left:60px;
	color:#444;
	margin-bottom:10px;
}

/* Settings tab */

#content #settings dd { padding-left:100px; }
#content #settings dd input { margin:0; }
#content #settings dd .description { margin-top:2px; font-size:11px; font-style:italic; }
#content #settings #setting-uniqueAttributes { width:300px; }

/***** Recording List *****/

#recordinglist {
	-webkit-box-shadow:inset 5px 5px 20px #c6c9ce;
	background: -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #EAEEF3);	
	min-height:247px;
	max-height:247px;
	overflow-y:auto;
	overflow-x:hidden;
	padding:0;
	border:1px #c6c9ce solid;
}

#recordinglist > li {
	list-style-type:none;
	margin:0;
	padding:0;
	height:30px;
	background:#EEE;
	-webkit-box-shadow: 0px 1px 0px #f7f7f7;
	border-bottom: 1px solid #CCC;
	position:relative;
	cursor:pointer;
}

#recordinglist > li.selected {
	background: #FFFFDD;
}

#recordinglist li > div { padding-top:8px; }

#recordinglist .dragbar { width:14px; color:#aaa; font-weight:bold; text-align:center; cursor:move; }
#recordinglist .star { position:absolute; top:0px; left:20px; width:20px; height:20px; padding-top: 5px; }
#recordinglist .starbutton { width:20px; height:20px; background: url('images/stars.png') no-repeat -20px 0px; }
#recordinglist .starbutton.on { background-position: 0px 0px; }
#recordinglist .starbutton.off { background-position: -20px 0px; }
#recordinglist .starbutton:hover { background-position: -40px 0px; }
#recordinglist .date { position:absolute; left:50px; top:0px; width:150px; color:#666; }
#recordinglist .link { position:absolute; left:200px; right:0; top:0; color:#888; }
#recordinglist .name { position:absolute; left:200px; right:0; top:0; color:black; }
#recordinglist .labels ul {
	display:inline-block;
	position:absolute;
	right:0px;
	top:6px;
	text-align:right;
}
#recordinglist .labels li {
	display:block;
	float:right;
	background:#888;
	color:white;
	font-size:11px;
	margin:0px 6px 0px 0px;
	padding:1px 4px;
	border:1px #444 solid;
	border-radius:4px;
}

/***** Recording Details *****/

#recording-name {
	cursor:pointer;
}

#recording-name-edit {
	display:none;
	color: #53637D;
	font-size: 200%;
	padding:2px 0;
	margin-top:10px;
	width:100%;
}

#recording-recording {
	position:relative;
}

#recording-json-container {
	position:absolute;
	right:14px;
	width:30%;
}

#recording-json {
	font-size:10px;
	padding:6px;
	border: 1px #CCC solid;
	color: #888;
	background: #EEE;
	overflow:hidden;
	width: 100%;
	background: -webkit-gradient( linear, left top, right top, from(#F6F6F6), to(#EEE) );
	font-family: sans-serif;
}

#recording-details h3 {
	color: #444;
	text-shadow: #ccc 1px 1px 2px;
	margin-top:0px;
	margin-bottom:.5em;
}

#recording-steps {
	padding: 0 30px 0 0;
	margin: 0 30% 0 0;
}

#recording-steps li {
	list-style-type:none;
	padding:7px;
	overflow:hidden;
	border:1px #ccc solid;
	border-top:0px;
	font-size: 90%;
	white-space:nowrap;
	
	background: -webkit-gradient( linear, left top, left bottom, from(#FFF), to(#EEE) );
	-webkit-box-shadow: 0 1px 4px rgba( 255, 255, 255, 1 );
	
}

#recording-steps li:first-child {
	border-top: 1px #ccc solid;
}

#recording-steps li .action {
	font-weight: bold;
	color: #444;
	display:inline-block; min-width:60px;
}

#recording-steps li .url a {
	color: #426DC9;
	padding-right:1em;
}

#recording-steps li .selector {
	color: #888;
	padding-right:1em;
}

#recording-steps li .value {
	color: #444;
	float:right;
	padding-left:1em;
}

#recording-steps li .waittime {
	font-style:italic;
	color: #333;
	padding-right:1em;
}

#recording-steps li .value:before { content: "\201C"; margin-right:.25em; color:#888; }
#recording-steps li .value:after {  content: "\201D"; margin-left:.25em; color:#888; }

